section {
    height: 90vh;
    padding: 3rem 5%;
    background: #d5deef;
}

h1 {
    font-size: 4rem;
    font-weight: 750;
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
}

.main-container .assitance-container {
    width: 65rem;
    height: 55rem;
    background: url('../images/whale.png') no-repeat;
    background-size: 180px;
    background-position: 100% 100%;;
}

.assitance-container .text-container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.text-container .btn-box {
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

.text-container .btn-box .btn {
    width: 100%;
    height: 100%;
    background: var(--corail);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.text-container .btn-box .btn:hover {
    background: var(--corail-fonce);
}

.main-container .message-container {
    width: 75rem;
    height: 55rem;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.message-container form {
    width: 90%;
    height: 90%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
} 

.message-container form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.message-container form .input-field {
    width: 100%;
    margin: .8rem 0;
}

.message-container form .input-field input,
.message-container form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #e2e5ef;
    border-radius: .6rem;
    border: .2rem solid transparent;
    transition: .1s;
}

.message-container form .input-field input:focus,
.message-container form .textarea-field textarea:focus {
    border: .2rem solid var(--bleu-ocean-profond);
} 

.message-container form .input-field input::placeholder,
.message-container form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.message-container form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.message-container form .textarea-field textarea {
    resize: none;
}

.message-container .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.message-container .btn-box .btn {
    width: 20rem;
    height: 5rem;
    background: var(--bleu-ocean-profond);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s;
}

.message-container .btn-box .btn:nth-child(2) {
    background: #90bdee;
}

.message-container .btn-box .btn:hover {
    background: var(--bleu-ocean-abysses);
}

.message-container .btn-box .btn:nth-child(2):hover {
    background: #769ddb;
}

.my-swal-container {
    zoom: 1.6;
}

@media (max-width: 1000px) {
    section {
        height: auto;
        padding: 2rem 6%;
    }

    .main-container {
        flex-direction: column;
    }

    .main-container .assitance-container {
        width: 100%;
        height: auto;
        background-size: 150px;
        background-position: 100% 100%;
    }

    .main-container .message-container {
        width: 100%;
        height: 58rem;
        border-radius: 20px;
    }
}

@media (max-width: 476px) {
    .main-container {
        gap: 4rem;
    }

    .main-container .assitance-container {
        background-size: 100px;
        background-position: 100% 0%;
    }

    .main-container .message-container {
        width: 100%;
        height: 58rem;
        padding: 2rem;
    }
}