@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bleu-ocean-abysses: #004462;
    --bleu-ocean-profond: #005a80;
    --bleu-turquoise: #00b8d4;
    --bleu-ocean-surface: #b1c9ef;
    --vert-eau: #aee1cd;
    --sable-dore: #e1c16e;
    --corail-fonce: #ff4747;
    --corail: #ff6b6b;
    --text-color: #2b2d42;
    --white: #f0f3fa; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu-ocean-abysses);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--white);
    color: var(--text-color);
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 4.2%;
    background: var(--bleu-ocean-profond);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem 10px;
    border-radius: 10px;
}

.logo:hover {
    background: var(--bleu-ocean-abysses);
}

.logo img {
    width: 45px;
    border-radius: 15px;
}

.logo span {
    color: #ffbc42;
    font-size: 2.5rem;
}

.navigation a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2px;
    padding: 2rem 2rem;
    transition: .1s;
}

.navigation a:hover {
    background: var(--bleu-turquoise);
    border-bottom: 5px solid var(--white);
}

.navigation .connexion:hover {
    background: #ffbc42;
    border-bottom: 5px solid var(--white);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

.illustration-container {
    width: 100%;
    height: 50rem;
    border-radius: 0px 0px 180px 180px / 0px 0px 90px 90px;
    background: url('../Images/faq-illustration.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--white);
    gap: 4rem;
}

.illustration-container h1 {
    font-size: 8rem;
    font-weight: 800;
    letter-spacing: 1rem;
}

.illustration-container h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.services {
    width: 100%;
    height: auto;
    padding: 5% 7%;
}

.services .services-template {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.services-template .service {
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0 0 0.8px var(--text-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: .1s;
}

.services-template .service:hover {
    background: #e5edfb;
}

.services-template .service img {
    width: 80px;
}

.section {
    padding: 2% 10%;
    background: #e5edfb;
}

.questions-container .question-field {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8rem;
    margin: 0 0 2rem 0;
    padding: 1%;
}

.questions-container .question-field:nth-child(1) {
    height: 50rem;
}

.questions-container .question-field:nth-child(2) {
    height: 50rem;
}

.questions-container .question-field:nth-child(2n) {
    flex-direction: row;
}

.question-field .illustration {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    align-items: end;
    padding: 1%;
}

.question-field .illustration a {
    text-decoration: underline;
    color: var(--sable-dore);
}

.i1 {
    background: url('../Images/i1.jpg') no-repeat;
}

.i2 {
    background: url('../Images/i2.jpg') no-repeat;
}

.i3 {
    background: url('../Images/i3.jpg') no-repeat;
}

.i4 {
    background: url('../Images/i4.jpg') no-repeat;
}

.i5 {
    background: url('../Images/i5.jpg') no-repeat;
}

.i6 {
    background: url('../Images/i6.jpg') no-repeat;
}

.i7 {
    background: url('../Images/i7.jpg') no-repeat;
}

.i8 {
    background: url('../Images/i8.png') no-repeat;
}

.question-field .text-container {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: var(--text-color);
}

.text-container .title {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.text-container .title .poisson {
    width: 40px;
    height: 40px;
    background: url('../Images/poisson-menu.png') no-repeat;
    background-size: cover;
    background-position: center;
    transition: .1s;
}

.text-container .title .poisson:hover {
    background: url('../Images/poisson-menu-hover.png') no-repeat;
    background-size: cover;
    background-position: center; 
}

.question-field .text-container .title h2 {
    font-size: 4rem;
    font-weight: 750;
}

.question-field .text-container p {
    font-size: 1.5rem;
    font-weight: 400;
}

.question-field .text-container span {
    font-weight: 600;
}

.question-field .text-container ul {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.question-field .text-container ul li {
    font-size: 1.5rem;
}

.text-container .haut {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*Footer Design*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 5%;
    background: var(--bleu-ocean-abysses);
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-text p {
    color: var(--white);
    font-size: 1.6rem;
}

.footer-text p a {
    color: var(--sable-dore);
    text-decoration: underline
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--sable-dore);
    border: .2rem solid var(--sable-dore);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bleu-ocean-abysses);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bleu-ocean-abysses);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--sable-dore);
}

@media (max-width: 1100px) {
    .questions-container .question-field {
        height: auto;
        flex-direction: column;
        gap: 1rem;
        margin: 15px 0 15px 0;
        padding: 0 0;
    }

    .question-field .text-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 5% 0;
    }

    .question-field .illustration {
        width: 100%;
        height: 30rem;
    }

    .questions-container .question-field:nth-child(1) {
        height: auto;
    }
    
    .questions-container .question-field:nth-child(2) {
        height: auto;
    }
    
    .questions-container .question-field:nth-child(2n) {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bleu-ocean-abysses);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navigation.active {
        left: 0;
        transition-delay: 0s;
    }

    .navigation .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bleu-ocean-profond);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navigation.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navigation a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        padding: 1rem 1.4rem;
    }

    .navigation a:hover {
        border: none;
        background: transparent;
        color: #e1c16e;
    }

    .navigation.active a {
        transform: translateX(0);
        transition-delay: .25s;        
    }

    .text-container .title {
        flex-direction: column;
        align-items: start;
    }

    .question-field .illustration {
        padding: 5%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}