@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #4361ee;
    --bg-color-2: #faf9f9;
    --main-color: #0496ff;
    --second-color: #ffbc42;
    --text-color: #2b2d42;
}

body {
    background: url("/Images/connexion/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
}

html {
    font-size: 60%;
    text-decoration: none;
    overflow-x: hidden;
}

section {
    height: 100vh;
    padding: 8rem 10% 8rem;
}

.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.form-box {
    position: absolute;
    width: 55%;
    height: 100%;
    background: var(--bg-color-2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    z-index: 1;
}

.form-box h2 {
    font-size: 3.6rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.form-box p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 4rem;
}

#error-messages {
    background-color: var(--bg-color-2);
    border-radius: 20px;
}

#error-messages p {
    margin-bottom: 10px;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 400px;
    display: flex;
}

.input-box label {
    position: absolute;
    top: 5px;
    left: 5px;
    translate: 0.625rem 0.625rem;
    color: var(--text-color);
    background-color: var(--bg-color-2);
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.4rem;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
}

.input-box:focus-within label,
.input-box:not(:has(:placeholder-shown))
label {
    translate: 0.625rem -1.6rem;
    border-color: var(--bg-color);
}
.input-box ::placeholder {
    color: transparent;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: none;
    padding: 0.625rem 1.3rem;
    color: var(--text-color);
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    font-size: 1.4rem;
}

.input-box i {
    position: absolute;
    right: 12px;
    font-size: 2rem;
    top: 15px;
}

.remember-box {
    width: auto;
    font-size: 14.5px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.remember-box label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.remember-box label input {
    margin-left: 5px;
}

.remember {
    width: 20px;
    height: 20px;
}

.form-box .btn-box {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.form-box .btn-box button {
    width: 20rem;
    height: 40px;
    border-radius: 15px;
    background: var(--main-color);
    color: var(--bg-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s;
}

.form-box button:hover {
    background: var(--bg-color);
}

.footer-text {
    margin-top: 4rem;
}

.login-illustration {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background: var(--main-color);
    border-radius: 20px;
    z-index: 0;
}

.illustration-create-account {
    margin: 3rem 60px 0 0;
    width: 100%;
    color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.logo {
    margin-left: 6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
    border-radius: 20px;
}

.logo h3 {
    font-size: 2rem;
}

.logo h3 span {
    color: var(--second-color);
}

.illustration-create-account h2 {
    font-size: 3.6rem;
    text-align: center;
}

.illustration-create-account p {
    margin: 5px 120px;
    font-size: 1.4rem;
    text-align: center;
}

.illustration-create-account .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.illustration-create-account .btn-box button {
    width: 20rem;
    height: 40px;
    border-radius: 15px;
    background: var(--second-color);
    color: var(--bg-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s;
}

.illustration-create-account button:hover {
    background: #f8961e;
}

.illustraction-container {
    width: 400px;
    height: 800px;
    margin-right: 60px;
    margin-bottom: 50px;
    background: url("/Images/connexion/requin_connexion.png") no-repeat;
    background-size: 240px;
    background-position: center;
}

@media (max-width: 980px) {
    section {
        padding: 2rem 4% 2rem;
    }

    .login-container {
        flex-direction: column;
    }

    .form-box {
        position: relative;
        width: 100%;
        height: 70%;
        font-size: 1rem;
    }
    
    .form-box h2 {
        font-size: 2.6rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    
    .form-box p {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .form-box form {
        max-width: 70rem;
        margin: 0 auto;
        text-align: center;
    }

    .form-box form .input-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 2.5rem 0;
    }

    .form-box form .input-box input {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        color: var(--text-color);
        background: transparent;
    }

    .form-box form .btn-box {
        width: auto;
        margin-top: 3rem;
    }

    .form-box form .btn-box .btn {
        cursor: pointer;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .footer-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .login-illustration {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        height: 25rem;
        gap: 2rem;
    }

    .illustration-create-account {
        margin: 5rem 0 0 0;
        gap: 1rem;
    }

    .logo {
        width: 0;
    }
    
    .logo img {
        width: 0;
    }
    
    .logo h3 {
        font-size: 0;
    }

    .illustration-create-account {
        margin-top: 5rem;
    }

    .illustration-create-account h2 {
        font-size: 2.6rem;
    }
    
    .illustration-create-account p {
        margin: 1px 30px;
        font-size: 1.4rem;
    }
}