@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bleu-ocean-abysses: #004462;
    --bleu-ocean-profond: #005a80;
    --bleu-turquoise: #00b8d4;
    --bleu-ocean-surface: #b1c9ef;
    --vert-eau: #aee1cd;
    --sable-dore: #e1c16e;
    --corail-fonce: #ff4747;
    --corail: #ff6b6b;
    --text-color: #2b2d42;
    --white: #f0f3fa; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu-ocean-abysses);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--white);
    color: var(--text-color);
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 4.5%;
    background: var(--bleu-ocean-profond);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem 10px;
    border-radius: 10px;
}

.logo:hover {
    background: var(--bleu-ocean-abysses);
}

.logo img {
    width: 45px;
    border-radius: 15px;
}

.logo span {
    color: #ffbc42;
    font-size: 2.5rem;
}

header .btn-deconnexion {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 20rem;
    height: 5rem;
    margin-right: 10px;
    cursor: pointer;
    background: var(--sable-dore);
    border: .2rem solid var(--sable-dore);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--bleu-ocean-profond);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-deconnexion:hover {
    color: var(--sable-dore);
}

.btn-deconnexion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bleu-ocean-profond);
    z-index: -1;
    transition: .5s;
}

.btn-deconnexion:hover::before {
    width: 100%;
}

.btn-deconnexion i {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--white);
}

.btn-deconnexion a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

section {
    height: 90vh;
    padding: 2rem 4%;
    background: #d5deef;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    padding: 1%;
}

.main-container .recherche-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    color: var(--text-color);
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #d5deef;
    transition: .3s;
}

.search-bar button:hover {
    background: var(--bleu-ocean-surface);
}

.search-bar button i {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
}

.main-container .assistance-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.assistance-container .assistance-left-part {
    width: 30%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.assistance-left-part .assistance-illustration {
    width: 100%;
    height: 60%;
    background: url('/Images/assistance-nautico.jpg') no-repeat;
    background-position: center;
    background-size: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assistance-illustration h1 {
    margin-top: 20px;
    color: rgb(248, 247, 228);
    font-size: 3.5rem;
    font-weight: 700;
}

.assistance-left-part .assistance-title {
    width: 100%;
    height: 30%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.6rem;
    padding: 5%;
}

.assistance-left-part .assistance-title h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

.assistance-left-part .assistance-title p {
    font-size: 1.3rem;
    font-weight: 400;
}

.assistance-left-part .btn-box {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.assistance-left-part .btn-box .btn-faq {
    width: 12rem;
    height: 40px;
    background: #ff6b6b;
    color: var(--white);
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.assistance-left-part .btn-box .btn-contacter {
    width: 18rem;
    height: 40px;
    background: #eecd7a;
    color: var(--white);
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.assistance-left-part .btn-box .btn-faq:hover {
    background: var(--corail-fonce);
}

.assistance-left-part .btn-box .btn-contacter:hover {
    background: #efc252;
}

.assistance-container .assistance-right-part {
    width: 70%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.assistance-right-part .template-message {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: var(--white);
}

.assistance-right-part .template-message-footer {
    width: 100%;
    height: 20%;
    background: var(--bleu-ocean-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.template-message-footer .message-bar {
    width: 70rem;
    height: 100%;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.message-bar input {
    width: 60rem;
    height: 60%;
    background: transparent;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 2%;
}

.message-bar button {
    width: 50px;
    height: 30px;
    background: var(--bleu-ocean-profond);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.message-bar button:hover {
    background: var(--bleu-ocean-abysses);
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--white);
    border-radius: 10px;
    width: 750px;
    height: 520px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2%;
    transition: .3s;
}

.popup .content h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--bleu-ocean-surface);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
}

.popup .close-btn:hover {
    background: var(--bleu-ocean-profond);
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.content .main-content-part {
    width: 100%;
    height: 65%;
}

.main-content-part form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.main-content-part form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content-part form .input-box .input-field {
    position: relative;
    width: 100%;
    margin: .8rem 0;
}

.main-content-part form .input-box .input-field input,
.main-content-part form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--corail-fonce);
}

.main-content-part form .input-box .input-field input::placeholder,
.main-content-part form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.main-content-part form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d5deef;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.main-content-part form .input-box .input-field input:focus~.focus,
.main-content-part form .input-box .input-field input:valid~.focus,
.main-content-part form .textarea-field textarea:focus~.focus,
.main-content-part form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.main-content-part form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.main-content-part form .textarea-field textarea {
    resize: none;
}

.content .btn-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box .btn-envoyer {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 25rem;
    height: 5rem;
    cursor: pointer;
    background: transparent;
    border: .2rem solid var(--corail-fonce);
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--corail-fonce);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-envoyer:hover {
    color: var(--white);
}

.btn-envoyer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--corail-fonce);
    z-index: -1;
    transition: .5s;
}

.btn-envoyer:hover::before {
    width: 100%;
}