@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bleu-ocean-abysses: #004462;
    --bleu-ocean-profond: #005a80;
    --bleu-turquoise: #00b8d4;
    --bleu-ocean-surface: #b1c9ef;
    --vert-eau: #aee1cd;
    --sable-dore: #e1c16e;
    --corail-fonce: #ff4747;
    --corail: #ff6b6b;
    --text-color: #2b2d42;
    --white: #f0f3fa; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu-ocean-abysses);
}

html {
    font-size: 60%;
    overflow-x: hidden;
    overflow: hidden;
}

body {
    background: var(--white);
    color: var(--text-color);
    overflow: hidden;
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 4.2%;
    background: var(--bleu-ocean-profond);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem 10px;
    border-radius: 10px;
}

.logo:hover {
    background: var(--bleu-ocean-abysses);
}

.logo img {
    width: 45px;
    border-radius: 15px;
}

.logo span {
    color: #ffbc42;
    font-size: 2.5rem;
}

header .btn-box {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.btn-box .messagerie {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    color: var(--sable-dore);
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.btn-box .messagerie:hover {
    background: #056a96;
}

#elementToWorkOn {
    position: absolute;
    top: 60px;
    right: 287px;
    border-radius: 10px;
    background: var(--bleu-ocean-surface);
    margin: 4px;
    padding: 5px 20px;
    width: 40rem;
    height: 60rem;
    display: none;
}

#elementToWorkOn::after {
    content: '';
    position: absolute;
    top: -25px;
    right: 15px;
    border: 15px solid transparent;
    border-bottom-color: var(--bleu-ocean-surface);
}

#elementToWorkOn .messagerie-header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.messagerie-header h3 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
}

.messagerie-header .clear-all {
    width: 12rem;
    height: 40px;
    background: #e63946;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.messagerie-header .clear-all:hover {
    background: #ba313c;
}

#elementToWorkOn .notif-container {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
}

.notif-container .notif-box {
    width: 98%;
    height: auto;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 5px;
    padding: 1% 2%;
}

.notif-container .notif-box:first-child {
    margin-top: 20px;
}

.notif-box .notif-box-header {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--text-color);
}

.notif-box .notif-box-header h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.notif-box .notif-box-header .btn-supprimer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: transparent;
    color: #e63946;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;
}

.notif-box .notif-box-header .btn-supprimer:hover {
    background: #f1cfd3;
}

.notif-box .notif-box-body {
    width: 100%;
    height: auto;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1% 0;
}

.notif-box .notif-box-body p {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.notif-box .notif-box-footer {
    width: 100%;
    height: auto;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* gap: 2rem; */
    padding: 1% 0;
}

.notif-box .notif-box-footer p {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.notif-box-body form {
    width: 100%;
    height: 7.5rem;
    display: flex;
    gap: 1rem;
    border-top: 1px dashed var(--text-color);
    padding: 5% 0;
}

.notif-box-body form .label-field label{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 600;
}

.notif-box-body form .input-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.notif-box-body form .input-box label {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.notif-box-body form .input-box input {
    width: 20rem;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 2% 5%;
}

.notif-box .notif-box-body form .btn-box {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5px;
}

.btn-box .accepter {
    width: 10rem;
    height: 4rem;
    background: #7cb518;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn-box .accepter:hover {
    background: #50760f;
}

.btn-box .rejeter {
    width: 10rem;
    height: 4rem;
    background: #ef233c;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn-box .rejeter:hover {
    background: #a50e28;
}

.btn-box .btn-deconnexion {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 20rem;
    height: 5rem;
    margin-right: 10px;
    cursor: pointer;
    background: var(--sable-dore);
    border: .2rem solid var(--sable-dore);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--bleu-ocean-profond);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-deconnexion:hover {
    color: var(--sable-dore);
}

.btn-deconnexion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bleu-ocean-profond);
    z-index: -1;
    transition: .5s;
}

.btn-deconnexion:hover::before {
    width: 100%;
}

.btn-deconnexion i {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--white);
}

.btn-deconnexion a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

section {
    height: 90vh;
    padding: 2rem 4%;
    background: #d5deef;
}

section h1 {
    font-size: 2.5rem;
    padding-left: 2.9%;
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: hidden;
    padding: 2% 1%;
}

.main-container .main-compte {
    width: 80%;
    background: var(--white);
    border-radius: 5px;
    overflow-x: hidden;
}

.main-container .main-side-bar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-compte .header-compte {
    width: 100%;
    height: 10%;
    background: var(--bleu-ocean-surface);
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 2%;
}

.header-compte h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-compte i {
    font-size: 1.6rem;
    font-weight: 600;
}

.main-compte #compte-content {
    width: 100%;
    height: 90%;
    padding: 2% 1% 0;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #e0e7f2;
}

#compte-content .compte-box {
    width: 100%;
    height: 18rem;
    background: var(--white);
    color: var(--text-color);
    border-bottom: 1px dashed var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2% 2.3%;
}

#compte-content .compte-box:first-child {
    border-top: 1px dashed var(--text-color);
}

.compte-box .box-header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compte-box .box-header h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.compte-box p {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.compte-box .btn-menu {
    width: 30rem;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    border-radius: 50px;
    cursor: pointer;
}

.compte-box .btn-menu a {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: underline;
    border-radius: 10px;
    padding: 1% 2%;
    transition: .3s;
}

.compte-box .btn-menu a:hover {
    background: #e0e7f2;
}

.compte-box .btn-menu i {
    color: var(--corail);
    font-size: 2rem;
    font-weight: 400;
}

.compte-box .montant-compte {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.6rem;
}

.compte-box .montant-compte .montant {
    font-size: 2rem;
    font-weight: 600;
}

.main-side-bar .header-nav {
    width: 100%;
    height: 40%;
    background: var(--white);
    border-radius: 5px;
    overflow: hidden;
}

.header-nav .title-header-nav {
    width: 100%;
    height: 20%;
    background: var(--bleu-ocean-surface);
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 5%;
}

.title-header-nav h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.title-header-nav i {
    font-size: 1.5rem;
    font-weight: 600;
}

.main-side-bar .footer-nav {
    width: 100%;
    height: 60%;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-nav .navigation {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.3rem;
    padding: 4% 3%;
}

.navigation .btn {
    width: 100%;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 3% 2%;
    background: var(--white);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 550;
}

.navigation .btn:hover {
    background: #e8ebee;
}

.navigation .btn i {
    color: var(--corail-fonce);
    font-size: 2.3rem;
    font-weight: 550;
}

.footer-nav .title-footer-nav {
    width: 100%;
    height: 40%;
    background: var(--bleu-ocean-surface);
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.title-footer-nav h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.title-footer-nav i {
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-nav .navigation-footer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 4% 3%;
}

.navigation-footer .btn {
    width: 100%;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 3% 2%;
    background: var(--white);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 550;
}

.navigation-footer .btn:hover {
    background: #e8ebee;
}

.navigation-footer .btn i {
    color: var(--corail-fonce);
    font-size: 2.3rem;
    font-weight: 550;
}

.footer-nav .assistance-part {
    width: 100%;
    height: 100%;
    padding: 1% 3%;
}

.assistance-part .assistance-nav {
    width: 100%;
    height: 100%;
    background: #e0e7f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.assistance-nav h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.assistance-nav p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.assistance-nav .btn {
    width: 18rem;
    height: 35px;
    background: var(--corail);
    border-radius: 20px;
    cursor: pointer;
}

.assistance-nav .btn a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #d5deef;
}

.assistance-nav .btn:hover {
    filter: brightness(1.10);
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--white);
    border-radius: 10px;
    width: 800px;
    height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2%;
    transition: .3s;
}

.popup .content h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--bleu-ocean-surface);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
}

.popup .close-btn:hover {
    background: var(--bleu-ocean-profond);
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.content .main-content-part {
    width: 100%;
    height: 70%;
}

.main-content-part .virement-entre-compte {
    width: 100%;
    height: 100%;
}

.virement-entre-compte table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}

.virement-entre-compte table tr th {
    width: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    border: 2px solid var(--bleu-ocean-surface);
    background: #ecd9a8;
}

.virement-entre-compte table tr td {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    background: #e0e7f2;
    border: 2px solid var(--bleu-ocean-surface);
}

.virement-entre-compte table tr td span {
    width: 100%;
}

.transfert-montant {
    width: 100%;
    display: flex;
    align-items: start;
}

.transfert-montant .input-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.transfert-montant .input-box p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
}

.input-box .input-label {
    width: 20rem;
    height: 5rem;
    border: 2px solid var(--sable-dore);
    border-radius: 0.5em;
    overflow: hidden;
}

.input-box .input-label input {
    width: 80%;
    height: 100%;
    background: var(--white);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.transfert-montant .input-box .input-label i {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.content .btn-box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box .btn-virer {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 25rem;
    height: 5rem;
    margin-right: 10px;
    cursor: pointer;
    background: var(--sable-dore);
    border: .2rem solid var(--sable-dore);
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--white);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-virer:hover {
    color: var(--sable-dore);
}

.btn-virer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--white);
    z-index: -1;
    transition: .5s;
}

.btn-virer:hover::before {
    width: 100%;
}

.popup .content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--white);
    border-radius: 10px;
    width: 800px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2%;
    transition: .3s;
}

.popup .content-2 h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.popup.active .content-2 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.content-2 .main-content-part {
    width: 100%;
    height: 70%;
}

.content-2 .btn-box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-part .virement-entre-personne {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.virement-entre-personne table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}

.virement-entre-personne table tr th {
    width: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    border: 2px solid var(--bleu-ocean-surface);
    background: #ecd9a8;
}

.virement-entre-personne table tr td {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    background: #e0e7f2;
    border: 2px solid var(--bleu-ocean-surface);
}

.virement-entre-personne table tr td span {
    margin: 50px;
}

.virement-entre-personne .virement-formulaire {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.virement-formulaire .formulaire {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.formulaire .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
    height: 100%;
}

.formulaire .input-box .input-field {
    position: relative;
    width: 100%;
    display: flex;
}

.input-box .input-field label {
    position: absolute;
    top: 5px;
    left: 5px;
    translate: 0.625rem 0.625rem;
    color: var(--text-color);
    background-color: var(--white);
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.4rem;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
}

.input-field:focus-within label,
.input-field:not(:has(:placeholder-shown))
label {
    translate: 0.625rem -1.6rem;
    border-color: var(--sable-dore);
}
.input-field::placeholder {
    color: transparent;
}

.input-field input {
    width: 100%;
    height: 50px;
    background: none;
    padding: 0.625rem 1.3rem;
    color: var(--text-color);
    border: 2px solid var(--sable-dore);
    border-radius: 5px;
    font-size: 1.4rem;
}

#msg-erreur-virement-compte, #msg-erreur-virement-personne, #msg-erreur-payer-facture {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.main-content-part .payer-facture {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.payer-facture table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}

.payer-facture table tr th {
    width: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    border: 2px solid var(--bleu-ocean-surface);
    background: #ecd9a8;
}

.payer-facture table tr td {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    background: #e0e7f2;
    border: 2px solid var(--bleu-ocean-surface);
}

.payer-facture table tr td span {
    margin: 50px;
}

.popup .content-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--white);
    border-radius: 10px;
    width: 800px;
    height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    transition: .3s;
}

.popup .content-3 h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.popup.active .content-3 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.content-3 .main-content-part {
    width: 100%;
    height: 70%;
}

.content-3 .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    height: 6rem;
}

.main-content-part .compte-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 5% 0;
}

.compte-container .compte-box {
    width: 30rem;
    height: 100%;
    background: #d5deef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 5px;
    padding: 2%;
}

.compte-box h4 {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.compte-box p {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
}

.compte-box form {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compte-box form .input-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compte-box form .input-box input {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Msg erreur notification accepter transfert */
.notif-box-body div {
    font-size: 1.3rem;
}

/* Div messages erreur */

#messages {
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 1200px) {
    .main-side-bar .header-nav {
        height: 50%;
    }

    .main-side-bar .footer-nav {
        height: 50%;
    }

    .footer-nav .title-footer-nav {
        height: 10%;
    }

    .footer-nav .navigation-footer {
        height: 45%;
    }

    .footer-nav .assistance-part {
        height: 45%;
    }

    .navigation .btn {
        padding: 0;
    }
} 

@media (max-width: 870px) {

    /* Grandes sections de la page (main container, menu en bas, etc..) */
    html {
        height: 120vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    main {
        height: 120vh;
    }

    section {
        padding: 1rem 3%;
        height: 100%;
    }

    section h1 {
        font-size: 2rem
    }

    .main-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1% 1%;
    }

    .main-container .main-compte {
        width: 100%;
        min-height: 20vh;
    }

    .main-container .main-side-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40vh;
    }

    .main-side-bar .header-nav {
        width: 100%;
        height: 90%;
        background: var(--white);
        border-radius: 5px;
        overflow: hidden;
    }

    .main-side-bar .footer-nav {
        width: 100%;
        height: 90%;
        background: var(--white);
        border-radius: 5px;
        overflow: hidden;
    }

    .navigation .btn, .navigation-footer .btn {
        padding: 0%;
    }

    .navigation-footer .btn {
        gap: 1.3rem;
    }

    .assistance-nav h5 {
        display: none;
    }

    .footer-nav .title-footer-nav {
        width: 100%;
        height: 20%;
        background: var(--bleu-ocean-surface);
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 0 5%;
    }

    .footer-nav .navigation-footer {
        height: 50%;
    }

    .footer-nav .assistance-part {
        height: 30%;
    }

    /* Affichage des comptes */

    #compte-content .compte-box {
        width: 100%;
        height: 12rem;
        background: var(--white);
        color: var(--text-color);
        border-bottom: 1px dashed var(--text-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2% 2.3%;
    }

    .compte-box .box-header h2 {
        font-size: 2rem;
    }

    .compte-box p {
        font-size: 1.3rem;
    }

    .compte-box .btn-menu a {
        font-size: 1.3rem;
    }
}



@media (max-width: 500px) {
    /* Barre menu haut */
    header {
        height: 8vh;
        padding: 0 1%;
    }

    .logo {
        font-size: 1.7rem;
    }

    .logo img {
        width: 35px;
        border-radius: 15px;
    }
    
    .logo span {
        color: #ffbc42;
        font-size: 1.7rem;
    }
    
    header .btn-box {
        gap: 1.5rem;
    }
    
    .btn-box .messagerie {
        width: 25px;
        height: 25px;
    }

    .btn-box .btn-deconnexion {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
    }
    
    .btn-deconnexion i {
        font-size: 2rem;
    }
    
    .btn-deconnexion a {
        display: none;
    }
}