section {
    width: 100%;
    min-height: 80vh;
    padding: 4% 12%;
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    gap: 2rem;
}

.section-header h1 {
    font-size: 5rem;
    font-weight: 800;
}

.section-header p {
    width: 70%;
    font-size: 2rem;
    font-weight: 500;
}

.illustration-header {
    width: 100%;
    height: 50rem;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 12rem;
}

.section-member {
    padding: 8rem 12%;
    background: #e5edfb;
}

.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.member-container .member-box {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}

.member-container .member-box:nth-child(2n) {
    flex-direction: row-reverse;
}

.member-box .photo-member-container {
    width: 55rem;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border: 2px solid red;
}

.member-box .text-container {
    width: 55rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: var(--text-color);
}

.text-container .title {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.member-box .text-container .title h2 {
    font-size: 4rem;
    font-weight: 750;
}

.text-container .title .poisson {
    width: 40px;
    height: 40px;
    background: url('../images/poisson-menu.png') no-repeat;
    background-size: cover;
    background-position: center;
    transition: .1s;
}

.text-container .title .poisson:hover {
    background: url('../images/poisson-menu-hover.png') no-repeat;
    background-size: cover;
    background-position: center; 
}

.member-box .text-container p {
    font-size: 1.8rem;
    font-weight: 400;
}

.click_effect {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    pointer-events: none;
    transform: scale(0);
    transform-origin: center;
    animation: stickerAnimation 0.5s ease forwards;
}
  
@keyframes stickerAnimation {
    0% {
        transform: scale(0) rotate(0deg);
    }
    50% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.disappear {
    animation: stickerDisappear 0.5s ease forwards;
}

@keyframes stickerDisappear {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-360deg);
    }
}