@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bleu-ocean-abysses: #004462;
    --bleu-ocean-profond: #005a80;
    --bleu-turquoise: #00b8d4;
    --bleu-ocean-surface: #b1c9ef;
    --vert-eau: #aee1cd;
    --sable-dore: #e1c16e;
    --corail-fonce: #ff4747;
    --corail: #ff6b6b;
    --text-color: #2b2d42;
    --white: #f0f3fa; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu-ocean-abysses);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--white);
    color: var(--text-color);
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 4.2%;
    background: var(--bleu-ocean-profond);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem 10px;
    border-radius: 10px;
    transition: .1s;
}

.logo:hover {
    background: var(--bleu-ocean-abysses);
}

.logo img {
    width: 45px;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.logo span {
    color: #ffbc42;
    font-size: 2.5rem;
}

.navigation a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2px;
    padding: 2rem 2rem;
    transition: .1s;
}

.navigation a:hover {
    background: var(--bleu-turquoise);
    border-bottom: 5px solid var(--white);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

.accueil {
    height: 90vh;
    background: var(--white);
}

.accueil .accueil-connect {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 0 5%;
}

.accueil-connect h1 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 5rem;
}

.btn-box {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 45rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 45px;
    background: var(--bleu-ocean-profond);
    border: .2rem solid var(--bleu-ocean-profond);
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--sable-dore);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--bleu-ocean-profond);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--bleu-ocean-profond);
}

.btn-box .btn:nth-child(2):hover {
    background: transparent;
    color: var(--sable-dore);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--bleu-ocean-profond);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--sable-dore);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.accueil .accueil-embed {
    position: relative;
    width: 100%;
    height: 80%;
    background: var(--sable-dore);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.accueil-embed .create-account-part {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 0 5%;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

p {
    font-size: 1.8rem;
}

.create-account-part .btn {
    width: 25rem;
    height: 50px;
}

.create-account-part .btn:hover {
    background: var(--bleu-ocean-abysses);
}

.create-account-part img {
    width: 0;
}

.accueil-embed .acceuil-illustration {
    width: 50%;
    height: 100%;
    position: relative;
    background-image: url('../Images/fond-marin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    align-items: end;
    padding: 1%;
    animation: change 30s infinite ease-in-out;
}

.accueil-embed .acceuil-illustration p {
    font-size: 1rem;
    font-weight: 400;
}

.accueil-embed .acceuil-illustration a {
    text-decoration: underline;
    color: var(--sable-dore);
}

@keyframes change {
    0% {
        background-image: url('../Images/fond-marin.jpg');
    }
    25% {
        background-image: url('../Images/fond-baleine.jpg');
    }
    50% {
        background-image: url('../Images/fond-plongeur.jpg');
    }
    75% {
        background-image: url('../Images/fond-baleine-aquarium.jpg');
    }
    100% {
        background-image: url('../Images/fond-marin.jpg');
    }
}

.services {
    height: 70vh;
    background: var(--white);
    padding: 2.3% 5%;
}

.services .grid-template {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.grid-template h2 {
    text-align: left;
}

.grid-template .options-template {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.options-template .option {
    width: 31%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9effb;
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 6px 6px var(--bleu-ocean-surface);
    cursor: pointer;
    transition: .3s;
}

.grid-template .option:hover {
    background: white;
    box-shadow: 8px 8px var(--bleu-ocean-profond);
}

.aquarium {
    height: 120vh;
    background: url('../Images/background-aquarium.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3% 5%;
}

.aquarium .aquarium-content {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.aquarium-content .aquarium-illustration {
    width: 100%;
    height: 80%;
    background: url('../Images/aquarium-illustration.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    align-items: end;
    padding: 1%;
}

.aquarium-content .aquarium-illustration p {
    font-size: 1rem;
    font-weight: 400;
}

.aquarium-content .aquarium-illustration a {
    text-decoration: underline;
    color: var(--sable-dore);
}

.aquarium-content .aquarium-footer-content {
    width: 100%;
    height: 20%;
    background: var(--white);
    padding: 1% 4%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aquarium-footer-content h3 {
    font-size: 3rem;
    font-weight: 500;
}

.aquarium-footer-content .mobile-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.aquarium-footer-content p {
    color: var(--text-color);
    font-size: 1.6rem;
}

.aquarium-footer-content .mobile-link a {
    padding: 0.2px 5px;
    font-size: 1.6rem;
    font-weight: 600;
    background: transparent;
    border-radius: 10px;
    color: var(--text-color);
    text-decoration: underline;
    transition: .3s;
}

.aquarium-footer-content .mobile-link a:hover {
    background: #e8e8e8;
}

.aquarium-footer-content .mobile-link span {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    transition: .3s;
}

.aquarium-footer-content .mobile-link span:hover {
    color: var(--text-color);
}

.aquarium-footer-content .mobile-link i {
    font-size: 2.3rem;
    color: var(--bleu-ocean-profond);
}

.mobile {
    height: 90vh;
    background: var(--vert-eau);
    padding: 0 4%;
}

.mobile .mobile-embed {
    width: 100%;
    height: 100%;
    display: flex;
}

.mobile-embed .mobile-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.3rem;
    padding: 0 4%;
}

.mobile-content ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.mobile-content ul li {
    font-size: 1.6rem;
    margin-left: 3rem;
}

.mobile-embed .mobile-illustration {
    width: 50%;
    height: 100%;
    padding: 8% 1.6%;
}

.mobile-illustration img {
    width: 100%;
    border-radius: 20px;
}

.mobile-content .mobile-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3px;
}

.mobile-content .mobile-link a {
    padding: 0.5px 1%;
    font-size: 1.8rem;
    font-weight: 500;
    background: transparent;
    border-radius: 10px;
    color: var(--text-color);
    text-decoration: underline;
    transition: .3s;
}

.mobile-content .mobile-link i {
    font-size: 2.8rem;
    color: var(--corail);
}

.mobile-content .mobile-link a:hover {
    background: #c4efde;
}

.assistance {
    height: 80vh;
    background: var(--bleu-ocean-surface);
    padding: 0 5%;
}

.assistance .assistance-embed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.assistance-embed .assistance-content {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5%;
}

.assistance-embed .assistance-illustration {
    width: 50%;
    height: 100%;
    background: url('../Images/assistance-illustration.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.assistance-content h3 {
    font-size: 2rem;
    font-weight: 550;
}

.assistance-content .btn {
    width: 22rem;
    height: 50px;
    border: .2rem solid var(--corail);
    background: var(--corail);
    color: var(--bleu-ocean-surface);
}

.assistance-content .btn:hover {
    color: var(--corail);
}

.assistance-content .btn::before {
    background: var(--bleu-ocean-surface);
}

/*Footer Design*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 5%;
    background: var(--bleu-ocean-abysses);
}

.footer-text p {
    color: var(--white);
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--sable-dore);
    border: .2rem solid var(--sable-dore);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bleu-ocean-abysses);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bleu-ocean-abysses);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--sable-dore);
}

/*Screen Design*/

@media (max-width: 1400px) {
    .grid-template .options-template {
        gap: 2rem;
        justify-content: center;
    }
    
    .options-template .option {
        width: 32%;
        height: 150px;
    }
}

@media (max-width: 1000px) {
    .grid-template .options-template {
        gap: 4rem;
        justify-content: center;
    }
    
    .options-template .option {
        width: 47%;
        height: 100px;
    }

    .mobile {
        height: 80vh;
    }

    .mobile .mobile-embed {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bleu-ocean-abysses);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navigation.active {
        left: 0;
        transition-delay: 0s;
    }

    .navigation .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bleu-ocean-profond);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navigation.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navigation a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        padding: 1rem 1.4rem;
    }

    .navigation a:hover {
        border: none;
        background: transparent;
        color: #e1c16e;
    }

    .navigation.active a {
        transform: translateX(0);
        transition-delay: .25s;        
    }

    .accueil {
        max-height: 100vh;
    }

    .accueil .accueil-connect {
        height: 15%;
    }
    
    .accueil-connect h1 {
        margin-top: 0;
        font-size: 3.6rem;
    }

    .accueil .accueil-embed {
        height: 85%;
    }

    .accueil-embed .create-account-part {
        width: 80%;
        height: 90%;
    }

    .accueil-embed .acceuil-illustration {
        width: 20%;
        height: 100%;
    }

    .grid-template .options-template {
        gap: 4rem;
        justify-content: center;
    }
    
    .options-template .option {
        width: 46%;
        height: 80px;
        font-size: 1.8rem;
    }

    .aquarium-content .aquarium-illustration {
        padding: 4%;
    }

    .mobile {
        height: auto;
        padding: 8% 4%;
    }

    .mobile .mobile-embed {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mobile-embed .mobile-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2.3rem;
        padding: 0 4%;
    }

    .mobile-embed .mobile-illustration {
        width: 100%;
        height: auto;
        padding: 8% 1.6%;
    }

    .assistance {
        height: auto;
        padding: 8% 5%;
    }
    
    .assistance .assistance-embed {
        flex-direction: column;
    }
    
    .assistance-embed .assistance-content {
        width: 100%;
    }
    
    .assistance-embed .assistance-illustration {
        width: 0%;
        height: 0%;
    }

    .assistance-content .btn-box {
        width: 22rem;
    }
    
    .assistance-content .btn {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 550px) {
    .accueil .accueil-connect {
        height: 10%;
        justify-content: center;
    }
    
    .accueil-connect h1 {
        font-size: 2rem;
    }

    .accueil .accueil-embed {
        height: 90%;
    }

    .accueil-embed .create-account-part {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .accueil-embed .acceuil-illustration {
        display: none;
    }

    .create-account-part .btn-box {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 3rem;
        width: 35rem;
    }

    .create-account-part .btn {
        width: 25rem;
        height: 50px;
    }

    .services {
        height: auto;
        padding: 8% 5%;
    }

    .grid-template {
        text-align: center;
    }

    .grid-template h2 {
        margin-top: 0;
        font-size: 2rem;
    }

    .grid-template .options-template {
        gap: 2rem;
        justify-content: center;
    }
    
    .options-template .option {
        width: 47%;
        height: 70px;
        font-size: 1.3rem;
    }

    .aquarium {
        height: 60vh;
        padding: 6% 5%;
    }

    .aquarium-content .aquarium-illustration {
        width: 100%;
        height: 55%;
    }
    
    .aquarium-content .aquarium-footer-content {
        width: 100%;
        height: 45%;
        background: var(--white);
        padding: 3% 6%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}