header {
    background: var(--bleu-ocean-abysses);
}

.logo:hover {
    background: var(--bleu-ocean-profond);
}

body {
    background: var(--bleu-ocean-profond);
}

section {
    height: 90vh;
    padding: 2rem 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #e0e7f2;
}

.consulter-compte {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2% 1%;
    overflow: hidden;
}

.consulter-compte .detail-compte {
    width: 100%;
    height: 16rem;
    background: var(--sable-dore);
    color: var(--text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2% 2.3%;
}

.detail-compte .detail-compte-header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-compte .detail-compte-header h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.detail-compte p {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.detail-compte .montant-compte {
    width: 50%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.6rem;
}

.detail-compte .montant-compte .montant {
    font-size: 2rem;
    font-weight: 600;
}

.detail-compte .detail-compte-footer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-compte .detail-compte-footer p {
    font-size: 1.3rem;
}

.consulter-compte .historique-compte {
    width: 100%;
    height: auto;
    background: var(--white);
    border-radius: 5px;
    overflow: hidden;
}

.historique-compte .title-historique {
    width: 100%;
    height: 5rem;
    background: var(--bleu-ocean-surface);
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 2%;
}

.title-historique h4 {
    font-size: 1.4em;
    font-weight: 600;
}

.title-historique i {
    font-size: 1.8rem;
    font-weight: 600;
}

.consulter-compte .transaction-mois {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    font-size: 1.3rem;
    font-weight: 600;
}

.consulter-compte .transaction-mois .mois {
    font-size: 1.6rem;
    font-weight: 600;
}

.consulter-compte .transaction-mois .depenses-mois {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.consulter-compte .transaction-mois .depenses-mois i {
    font-size: 2rem;
    font-weight: 550;
}

.consulter-compte .transaction-mois {
    font-size: 1.5rem;
    font-weight: 500;
}

.historique-compte .transfert-content {
    width: 100%;
    height: 26rem;
    padding: 0.5% 1%;
}

.transfert-content .transfert-box {
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.transfert-content .transfert-box:last-child {
    border: none;
}

.transfert-content {
    overflow: scroll;
}

.transfert-box .transfert-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.transfert-detail .detail-titre {
    font-size: 1.3rem;
    font-weight: 500;
}

.transfert-detail .detail-date {
    font-size: 1.3rem;
    font-weight: 600;
}

.transfert-box .transfert-montant-positif {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #55a630;
}

.transfert-box .transfert-montant-negatif {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ef233c;
}

.historique-compte .footer-historique {
    width: 100%;
    height: 5rem;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2%;
}

.historique-compte .footer-historique p {
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.historique-compte .footer-historique p:hover {
    text-decoration: underline;
}

.footer-historique .btn-voir-plus {
    width: 25px;
    height: 25px;
    background: #d5deef;
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.footer-historique .btn-voir-plus:hover {
    background: #b1c9ef;
}

.footer-historique .btn-voir-plus i {
    font-size: 1.6rem;
    font-weight: 600;
}

@media (max-width: 600px) {
    /* Barre menu haut */
    .btn-box .messagerie {
        width: 25px;
        height: 25px;
    }

    .transfert-box .transfert-detail {
        width: 60%;
        gap: 0.2rem;
    }

    /* DÉTAILS COMPTE */
    .detail-compte .detail-compte-header h2 {
        font-size: 2rem;
    }

    .detail-compte p {
        font-size: 1.3rem;
    }

    /* TRANSACTIONS */
    .transfert-box .transfert-montant-positif, .transfert-box .transfert-montant-negatif {
        display: flex;
        justify-content: end;
        font-size: 1.3rem;
        min-width: 8rem;
    }

    .transfert-detail .detail-titre {
        font-size: 1rem;
    }

    .transfert-detail .detail-date {
        font-size: 1rem;
    }

    /*Afficher + transactions*/
    .historique-compte .footer-historique {
        height: 3.5rem;
    } 

    .historique-compte .footer-historique p {
        font-size: 1.1rem;
    }

    .footer-historique .btn-voir-plus {
        width: 20px;
        height: 20px;
    }

    .detail-compte .detail-compte-footer  :nth-child(2) {
        text-align: end;
    }
}