@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #4361ee;
    --bg-color-2: #faf9f9;
    --main-color: #0496ff;
    --second-color: #ffbc42;
    --text-color: #2b2d42;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    font-size: 60%;
    text-decoration: none;
    overflow-x: hidden;
}

section {
    height: 100vh;
    padding: 8rem 10% 8rem;
}

.account-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.form-box {
    position: absolute;
    width: 55%;
    height: 100%;
    background: var(--bg-color-2);
    border-radius: 20px;
    font-size: 1.3rem;
    z-index: 1;
}

.main-container {
    position: relative;
}

.tab-nav-bar {
    position: relative;
    margin: 20px 10px 15px 10px;
}

.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu {
    color: var(--text-color);
    list-style: none;
    background: var(--bg-color-2);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--bg-color-2);
    border-radius: 50px;
    box-shadow: var(--text-color);
}

.tab-btn {
    color: var(--bg-color-2);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    background: var(--main-color);
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab-btn:hover {
    background: var(--bg-color);
}

.tab-btn.active {
    background: var(--second-color);
}

.tab-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    transform: translateX(25px);
    opacity: 0;
    content-visibility: hidden;
}

.tab.active {
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

.tab p {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}

.tab .card-container {
    width: 100%;
    height: 100%;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-container .card {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 2rem 1rem;
    color: var(--bg-color-2);
    font-size: 1.6rem;
    border-radius: 10px;
    background: var(--main-color);
    transition: .5s ease;
}

.card-container .disable {
    background: #adb5bd;
}

.card-container .card.disable:hover {
    background: #adb5bd;
    cursor: not-allowed;
}

.card-container .card:hover {
    background: var(--bg-color);
    cursor: pointer;
}

.card-container .card i {
    font-size: 4rem;
}

.tab form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box {
    position: relative;
    margin: 15px 0;
    width: 400px;
    display: flex;
}

.input-box label {
    position: absolute;
    top: 5px;
    left: 5px;
    translate: 0.625rem 0.625rem;
    color: var(--text-color);
    background-color: var(--bg-color-2);
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.4rem;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
}

.input-box:focus-within label,
.input-box:not(:has(:placeholder-shown))
label {
    translate: 0.625rem -1.6rem;
    border-color: var(--bg-color);
}
.input-box ::placeholder {
    color: transparent;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: none;
    padding: 0.625rem 1.3rem;
    color: var(--text-color);
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    font-size: 1.4rem;
}

.input-box i {
    position: absolute;
    right: 12px;
    font-size: 2rem;
    top: 15px;
}

.date-selection {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date-selection p {
    text-align: start;
    font-weight: 500;
    font-size: 1.5rem;
}

.date-selection .select-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.date-selection select {
    width: 100px;
    height: 40px;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    padding: 8px 5px;
    outline: 0;
    font-size: 15px;
}

.form-box .btn-box {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.form-box .btn-box button {
    width: 20rem;
    height: 40px;
    border-radius: 15px;
    background: var(--main-color);
    color: var(--bg-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s;
}

.form-box button:hover {
    background: var(--bg-color);
}

.account-illustration {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-direction: column;
    background: var(--main-color);
    border-radius: 20px;
    z-index: 0;
}

.illustration-create-account {
    margin: 5rem 60px 0 12rem;
    width: 100%;
    color: var(--bg-color-2);
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.logo {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 50px;
    border-radius: 20px;
}

.logo h3 {
    font-size: 2rem;
}

.logo h3 span {
    color: var(--second-color);
}

.illustration-create-account h2 {
    font-size: 3.6rem;
    text-align: center;
}

.illustration-create-account p {
    margin: 5px 120px;
    font-size: 1.4rem;
    text-align: center;
}

.illustration-create-account .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.illustration-create-account .btn-box button {
    width: 20rem;
    height: 40px;
    border-radius: 15px;
    background: var(--second-color);
    color: var(--bg-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    transition: .3s;
}

.illustration-create-account button:hover {
    background: #f8961e;
}

.illustraction-container {
    width: 80%;
    height: 40%;
    margin-right: 60px;
}